body {
  margin: 0;
  font-family: Tahoma, Arial;
  background: #0b0b0b;
  color: white;
}

header {
  background: black;
  color: gold;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.product {
  background: #111;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-8px);
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.price {
  display: block;
  margin: 10px 0;
  color: gold;
  font-weight: bold;
}

button {
  background: gold;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.vip {
  border: 1px solid gold;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
}
.maintenance {
  margin-top: 10px;
  color: #ff4d4d;
  font-size: 14px;
  font-weight: bold;
}
button:disabled {
  background: gray;
  cursor: not-allowed;
}
.maintenance {
  margin-top: 10px;
  color: #ff4d4d;
  font-size: 14px;
  font-weight: bold;
}
